.v-btn{
    height: 30px;
    padding: 0 16px;
    background-color: #DCDCDC;
    border-radius:17.5px;
    box-sizing: border-box;
    line-height: 30px;
    text-align: center;
    span{
        font-size: 14px;
    }
}
