.shade{
	position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
	left: 0;
	z-index: 2;
	background-color:rgba(0,0,0,0.6);

}
.shadeAnimation{
	animation: backgroundAnimation 1s;
}

@keyframes backgroundAnimation
{
	from {background:rgba(0,0,0,0);}
	to {background:rgba(0,0,0,0.6);}
}