.header{
	display: block;
	height: 1.25rem;
	.slideInLeft{
		animation: slideInLeft 1s;
	}
	.slideOutLeft{
		animation: slideOutLeft 1s;
	}
	.fade-enter-active, .fade-leave-active {
		transition: opacity 1s;
	}
	.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
		opacity: 0;
	}
}
.head{
	display: flex;
	justify-content: space-between;
	align-content: center;
	background-color: $color-background;
	.head-icon {
		width: 0.8rem;
		padding :.2rem 0.2875rem;
		vertical-align: -0.025rem;
		fill: $color-font-icon;
		overflow: hidden;
		font-size: 0.8rem;
	}
}

.meun{
	position:fixed;
	width:$meun-list-width;
	background-color:$color-background-list;
	bottom:0;top:0;
	z-index:3;
	display: flex;
	flex-direction: column;
	.personal{
		height:4rem;
		padding-top: .4rem;
		box-sizing: border-box;
		width:$meun-list-width;
		background-color:$color-background-meun;
		.hair{
			margin:0 .2rem .2rem .2rem;
			width:2.5rem;height:2.5rem;
			background-color:#666;
			border-radius:100%;
		}
		.meData{
			height:0.64rem;
			text-align:center;
			display:flex;
			flex-direction:row;
			color: #fff;
			.levelIcon{
				height: 0.64rem;
				vertical-align: -0.06rem;
				fill: #000;
				overflow: hidden;
				line-height:0.6rem;
				font-size: .7rem
			}
			.nickName{
				padding-left: .4rem;
				line-height: 0.64rem;
			}
		}
	}
	.meunList{
		padding-top:0.4rem;
		background-color: #fb7299;
		flex-grow:1;
		li{
			.listIcon{
				float: left;
				padding: 0 .16rem;
				height: 1.0rem;width:0.56rem;
				vertical-align: -0.06rem;
				fill: currentColor;
				overflow: hidden;
				font-size: .56rem;
			}
			span{
				float:left;
			}
			height:1.0rem;line-height:1.0rem;
		}
	}
}
.shade{
	position:fixed;
	left:0;right:0;bottom:0;top:0;
	z-index:2;
	background-color:rgba(0,0,0,0.5);
	transition: background-color 1s;
}

.search{
	position:fixed;
	display: flex;
	flex-direction: column;
	top:0;bottom:0;right:0;left:0;z-index: 3;
	background-color:#fff;
	.search-header{
		height:1.44rem;
		display:flex;flex-direction:row;
		background-color:$color-theme;
			box-shadow:0px 0.025rem 0.075rem #333333;
		.out{
			width:3.8em;
			box-sizing: border-box;
			padding-top: .15rem;
			padding-left: .2rem;
			i{
				font-size: 1.1rem;
			}
		}
		.input{
			margin:0.2rem;
			margin-right:0.4rem;
			flex-grow: 1;
			.case{
				width:100%;height:100%;
				position:relative;
				.inSearch{
					box-sizing:border-box;
					width:100%;height:100%;
					border:0;border-bottom:0.025rem solid #000;
				}

			}

		}
	}
	.hotSea{
		height:5.6rem;
		background-color:#888; 
		.text{
			height:0.8rem;
			padding:0.32rem;
			line-height:0.8rem;
		}
		.hotList{
			padding:0 1.4rem 0 0.48rem;
			display:flex;
			flex-wrap:wrap;
			li{
				height:0.4rem;
				padding:0.32rem;
				margin:0.2rem 0.2rem 0 0;
				border:0.025rem solid #fff;
				border-radius:0.4rem;
			}
		}
	}
	.history{
		flex-grow: 1;
	}
}


