.cell{
    height: 1.5rem;
    box-sizing:border-box;
    width: 100%;
    padding: .1rem;
    display: flex;
    .head {
        height: 1.3rem;
        width: 1.3rem;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 25px;
        background-repeat:no-repeat;
        background-size:100% 100%;
    }
    .info{
        display: flex;
        flex-direction: column;
        box-sizing:border-box;
        padding-left: .25rem;
        padding-right: .25rem;
        flex-grow: 1;
        p{  
            line-height: 0.65rem;
            flex-grow: 1;
        }
        .content{
            color: darkgray;
            font-size: 15px;
        }
    }
    .btn{
        height: 1.3rem;
        width: 1.2rem;
        display: flex;
        font-size: 30px;
        align-items: center;
        justify-content: center;
        i{
            font-size: 30px;
            color: darkgray;
        }
    }
}