.top{
    top: 0;
    right: 0;
    left: 0;
}
.bottom{
    bottom: 0;
    right: 0;
    left: 0;
}
.right{
    right: 0;
    bottom: 0;
    top: 0;
}
.left{
    left: 0;
    bottom: 0;
    top: 0;
}
.popup{
    display: flex;
    position: fixed;
    z-index: 999;
}
.pabel{
    width: 100%;
    background-color: white;
    padding-left: 10px;
    p{
        height: 40px;
        line-height: 40px;
    }
}